<h1> <%= @doctor.name %>'s appointments </h1><br><br>
<% @doctor.appointments.each do |appointment| %>
	<%= link_to appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M"), appointment %><br>
	<%= link_to appointment.patient.name, appointment.patient %>
	<% end %>